@use '@mixins' as *;

.hero {
	height: 300vh;
	position: relative;
	z-index: 2;

	.title {
		position: absolute;
		font-size: vw(100);
		line-height: 1;
		font-weight: 900;
		color: var(--color-white);
		left: vw(20);
		top: calc(100vh - vw(30));
		transform: translateY(-100%);
		font-family: var(--font-hc);

		@include mobile {
			font-size: vw(60, 'mobile');
			top: 50vh;
			left: vw(20, 'mobile');
			transform: translateY(0);
		}

		span {
			display: block;
			text-transform: uppercase;

			&:nth-child(2) {
				color: var(--color-orange);
			}
		}
	}

	.headline {
		color: var(--color-white);
		display: flex;
		align-items: center;
		gap: vw(12);
		position: absolute;
		top: vw(60);
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;

		@include desktop {
			display: none;
		}

		@include mobile {
			inset: 80vh vw(90, 'mobile') auto vw(90, 'mobile');
			flex-wrap: wrap;
			transform: none;
			gap: vw(12, 'mobile');
			justify-content: center;
		}

		svg {
			width: vw(15);
			height: vw(15);

			@include mobile {
				width: vw(15, 'mobile');
				height: vw(15, 'mobile');
			}
		}

		span {
			font-size: vw(14);
			text-transform: lowercase;
			font-weight: 300;

			@include mobile {
				font-size: vw(14, 'mobile');
			}
		}
	}

	.text {
		color: var(--color-white);
		font-weight: 200;
		width: vw(300);
		font-size: vw(18);
		line-height: 1.6;
		position: absolute;
		top: 50vh;
		transform: translateY(-50%);
		right: vw(280);

		@include mobile {
			top: 60vh;
			width: vw(300, 'mobile');
			left: vw(40, 'mobile');
			font-size: vw(18, 'mobile');
			transform: none;
			right: auto;
		}

		strong {
			display: inline-block;
			margin-bottom: vw(40);
			text-transform: uppercase;
			line-height: 1.3;
			font-size: vw(14);
			font-family: var(--font-hc);

			@include mobile {
				font-size: vw(14, 'mobile');
				margin-bottom: vw(40, 'mobile');
			}
		}
	}

	:global(.pin-spacer) {
		z-index: 200 !important;

		&:last-child {
			z-index: 5 !important;
			pointer-events: none;
		}
	}

	.maskBackground {
		position: absolute; // important: fixed so it covers viewport
		height: 30vh;
		width: 100vw;
		bottom: 0;
		left: 0;
		clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); // start closed
		z-index: 400; // above background, below content
		pointer-events: none; // mask shouldn't block interaction
		overflow: hidden;

		div {
			position: absolute;
			height: 140vh;
			width: 110vw;
			bottom: 35vh;
			left: -5vw;
			transform: translateY(100%);

			video {
				@include img;
			}
		}
	}
}
