@use '@mixins' as *;

.header {
	position: fixed;
	z-index: 4000;
	inset: vw(50) vw(80) auto vw(20);
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mobile {
		inset: vw(40, 'mobile') vw(20, 'mobile') auto vw(20, 'mobile');
	}

	.logo {
		svg {
			width: vw(109);
			height: vw(41);

			@include mobile {
				width: vw(109, 'mobile');
				height: vw(41, 'mobile');
			}
		}
	}

	.headline {
		color: var(--color-white);
		display: flex;
		align-items: center;
		gap: vw(12);

		@include mobile {
			display: none;
		}

		svg {
			width: vw(15);
			height: vw(15);
		}

		span {
			font-size: vw(14);
			text-transform: lowercase;
			font-weight: 300;
		}
	}

	a {
		position: relative;

		&:hover {
			&::after {
				background: var(--color-orange);
			}

			span {
				color: var(--color-orange);
			}
		}

		&::after {
			position: absolute;
			inset: auto 0 vw(-9) 0;
			height: vw(1);
			content: '';
			background: var(--color-white);
			transition: 0.4s ease-out;

			@include mobile {
				inset: auto 0 vw(-9, 'mobile') 0;
				height: vw(1, 'mobile');
			}
		}

		span {
			font-size: vw(18);
			font-family: var(--font-hc);
			color: var(--color-white);
			text-transform: uppercase;
			transition: 0.4s ease-out;

			@include mobile {
				font-size: vw(18, 'mobile');
			}
		}
	}
}
